// 1.yarn add tailwindcss postcss autoprefixer
// 2. npx tailwindcss init
// 3. add the ff in the global style
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
// 4.   mode: "jit",
//      content: ["./public/**/*.html", "./src/**/*.{js,jsx,ts,tsx,vue}"],
// 5. create a postcss.config.js and copy content of file
// 6. add prettier and headwind
@import "./colors.scss";

p {
  color: $red;
}

.screen {
  width: auto;
  height: auto;
}


span {
  font-family: Cinzel,Arial,Helvetica,sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  color: #800;
  display: inline-block;
  margin-top: 20px;
}


.icon-effect-2 {
  color: #800;
  box-shadow: 0 0 0 50px #800;
  -o-box-shadow: 0 0 0 3px #800;
  -moz-box-shadow: 0 0 0 3px #800;
  -webkit-box-shadow: 0 0 0 3px #800;
  border-radius: 50%;
}

.icon-medium-effect {
  position: relative;
  display: block;
  z-index: 1;
  font-size: 2em;
  color: #fff;
  width: 64px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  margin: 0;
  
}

.container{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.body{
  width: 1170px;
  height: auto;
}

.nav-bg {
  width: auto;
  /* background-color: #eee; */
  background-color: rgba(255,255,255,0.36);
  backdrop-filter: blur(10px) saturate(125%);
  border-bottom: 1px solid #f2f2f2;
  font-size: 10pt;
}

.nav-bg-bot{
    margin-bottom: 0;
    background: transparent;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.row {
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 0;
}

.line {
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.15), rgba(0,0,0,0));
  margin-top:25px; 
  margin-bottom:55px;
}
.container-body{
  width: 1170px;
  height: auto;
  padding-right: -15px;
  padding-left: -15px;
  margin-right: auto;
  margin-left: auto;
}

.content {
  padding-top: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  // margin-right: auto;
  // margin-left: auto;
}


.badge {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ul {
  height: 600px;
}

.img {
  width:100%;
  height:auto;
  object-fit: contain;
}

.footer-icons{
  display: flex;
  flex-direction: row;
}


.arrow {
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 30px;
  width: 70px;
  height: 70px;
  text-align: center;
  background: #fff;
  background: rgba(0,0,0,0.15);
  z-index: 2;
  line-height: 50px;
}

.social-icons {
  font-size: 2em;
  width: 48px;
  height: 48px;
  color: #fff;
  background: #800;
  line-height: 48px;
  text-align: center;
  display: block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

a{
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 300;
  text-align: center;
  margin: 20px 0 10px 0;
  color: #800;
}

h4 {
  font-size: 1rem; /* 16px */
  line-height: 1.33rem; /* 24px */
}

.page-content {
  height: auto;
}

footer{
  background-color: #eee;
    /* border-top: 4px solid #aaa; */
    color: #555;
    
}

.footer-widget h4 {
  color: #800;
  text-transform: uppercase;
  padding-bottom: 8px;
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  position: relative;
}

.footer-widget li {
  margin: 10px 0;
  font-size: 10px;
}

.carousel-top {
  background-size: cover;
  width: 100%;
  height: 700px;
  display: block;
  position: relative;
  overflow: hidden;
  margin-top: -22px;
}
.carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: -1;
}
.carousel-item.active {
  opacity: 1;
  z-index: 0;
}

.nav-con{
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

nav{
  width: auto;
  height: auto;
}

footer{
  width: auto;
  height: auto;
}

.news-img{
  width: 100%;
  height: 500px;
  object-fit: none;
}

nav{
  line-height: 20px;
  font-size: 10px;
  background-image: url(/bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.modal-bg {
  background-size: cover;
  background-image: url(/bg1.jpg);
  background-repeat: no-repeat;
  background-color: #eee;
  background-position: center center;
}

.container-modal {
  height: 200px;
  width: 400px;
}




@media (min-width: 350px)  and (max-width: 1280px){

nav{
    background-color: white;
    line-height: 20px;
    font-size: 10px;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .nav-con{
    width: auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .carousel-top {
    background-size:cover;
    width: 100%;
    height: 250px;
    display: block;
    position:relative;
    overflow: hidden;
  }

  .carousel-item {
    position:absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: -1;
  }

  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .announcements{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .widget {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .body{
    width: auto;
  }

  .badge {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .footer-icons{
    display: flex;
    flex-direction: column;
  }

  footer{
    background-color: #eee;
      width: auto;
      color: #555;
  }
  
  .container{
      flex-direction: column;
      align-content: center;
  }
  .content-container{
      margin-bottom: 20px;
      width: 80%;
      height: auto;
  }

}

